.toggle__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;

  &:focus {
    outline: none;
  }

  .btn-line {
    width: 2rem;
    height: 3px;
    background: white;
    transition: all 0.5s ease-out;
  }

  &.close {
    transition: rotate(180deg);

    .btn-line {
      // Line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -7px);
      }
    }
  }
}
