.help {
  max-width: 320px;
  margin: 0 auto;
  padding: "10px 20px";

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin: 0;
  }

  &__text {
    display: none;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    line-height: 1.3rem;

    span {
      font-weight: bold;
    }
  }

  h4 {
    text-align: center;
    margin: 1rem;
    line-height: 1.5rem;
  }

  & hr {
    background-color: rgb(0, 56, 160);
    margin: 1rem auto;
    width: 90%;
    padding: 1px;
  }

  &__button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

.show {
  display: block;
}
