.homeContainer {
  max-width: 340px;
  margin: 0 auto;
  padding: "10px 20px";
  line-height: 1.6rem;

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
    margin: 0.7rem;
  }

  &__radio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

.close {
  display: none;
}

.results {
  text-align: center;
  margin: 1.5rem auto;
  max-width: 340px;
  padding: "10px 20px";

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    &--title {
      display: flex;
      align-items: center;
    }

    &--icon {
      width: 3rem;
    }
  }
}
