.personalData {
  max-width: 320px;
  margin: 0 auto;
  padding: "10px 20px";

  &__title {
    text-align: center;
    margin: 0;
  }
}

.form {
  &__field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--icon {
      color: rgb(0, 56, 160);
    }

    &--radio {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 1rem;

      &--input {
        display: flex;
        align-items: center;
      }
    }

    &--activity {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 1.7rem 0.1rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

input[type="radio"] {
  border: 0px;
  width: 1.5em;
  height: 1.5em;
  margin-right: 1rem;
}
