.header {
  width: 100%;
  height: 4rem;
  background-color: rgb(8, 95, 255);
  margin-bottom: 1.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
  }

  &__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin-left: 0.5rem;

    &--link {
      cursor: pointer;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;

    &--link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
