.info {
  &__icon {
    float: right;
    margin-right: 0.7rem;

    &:hover {
      color: red;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0.7rem 0.3rem 0 0;
  }

  &__close {
    color: red;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}

.table {
  width: 100%;
  border-spacing: 0;

  & thead th {
    text-transform: uppercase;
    padding: 0.8rem;
  }

  & tbody tr {
    &:nth-child(odd) {
      background: #e2efff;
    }

    & td {
      color: black;
      padding: 0.8rem 1.2rem;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }
}
