.signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.4rem;

  &__title {
    margin: 0.4rem;
  }

  &__passwordGroup {
    display: flex;
    justify-content: space-between;

    &--1,
    &--2 {
      max-width: 49%;
    }
  }
}
