.signin {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin-top: 0;
    margin-bottom: 0.4rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
