.info {
  display: inline-block;

  &__icon {
    float: right;

    &:hover {
      color: red;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 1rem 1.5rem 0 0;
  }

  &__close {
    color: red;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__content {
    text-align: center;

    &--bold {
      font-weight: bold;
    }

    span {
      color: red;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
